# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/all/modules/contrib
sites/all/libraries
sites/all/themes

!sites/default/settings.php
sites/default/settings.*.php
sites/default/*.settings.php

# Ignore all Drupal files
*.txt
*.config
.htaccess
.editorconfig
*.php

# Ignore all Drupal directories
includes
misc
profiles
scripts
modules
themes

